DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=+14155238886
TWILIO_VOICE_NUMBER=
TWILIO_WEBHOOK_BASE_URL=

GEMINI_API_KEY=
IA_MOCK_DE_EMERGENCIA_HABILITADO=false

SCHEDULER_ESCALONAMENTO_INTERVALO_MS=60000
SCHEDULER_ESCALONAMENTO_INTERVALO_ENTRE_ETAPAS_MS=900000
